.header{
        max-width: 1960px;
        margin: 0px auto;

	text-align: center;
	top: 0;
  min-height: 70px !important;
	min-width: 100%;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.6);
  box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.6);
}

.row{

	max-width: 100%;
}
.footer > .row{

  min-height: 50px;
}
.footer {
        max-width: 1960px;
        margin: 0px auto;
        text-align: center;
        bottom: 0;
          min-height: 50px;
  position: relative;
	min-width: 100%;
  display: inline-block;
	-webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0px 6px 10px 10px rgba(50, 50, 50, 0.6);
  box-shadow: 0px -6px 10px 0px rgba(50, 50, 50, 0.6);
}
.navbar-brand{
  padding: 0px !important;
}
.logo{
  height: 70px;
  width: auto;
}
#twitter-import{
  width: 100%;
}

#fb-import{
  width: auto;
  height: 80;
  border: none;
  overflow: hidden;
}
.navbar{
  min-height: 70px !important;
}
/*.navbar-collapse>.navbar-nav>.all-link>a*/
/*..navbar-collapse>.navbar-nav>.pass-link>a*/
/*..navbar-collapse>.navbar-nav>.museum-link>a*/
.navbar-collapse>.navbar-nav>.home-link>a {
    font-family: "MuseoSansRegular";
    font-size: 14pt;
    color: #000;
    background-color: #FFF !important;
    text-decoration: none !important;
    border-bottom: 8px !important;
    padding-top: 25px !important;
    padding-bottom: 17px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #e53025 !important;
    /*border-bottom-color: #2783c5 !important;*/
    /*border-bottom-color: #33b560 !important;*/
    /*border-bottom-color: #fed24c !important;*/
}

/*.navbar-collapse>.navbar-nav>.home-link>a,*/
.navbar-collapse>.navbar-nav>.all-link>a,
.navbar-collapse>.navbar-nav>.pass-link>a,
.navbar-collapse>.navbar-nav>.museum-link>a {
    font-family: "MuseoSansRegular";
    font-size: 14pt;
    color: #000;
    background-color: #FFF !important;
    padding-top: 25px !important;
    padding-bottom: 17px !important;
    text-decoration: none !important;
    border-bottom: 8px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #FFF  !important;
}

.navbar-collapse>.navbar-nav>.home-link>a:hover,
.navbar-collapse>.navbar-nav>.all-link>a:hover,
.navbar-collapse>.navbar-nav>.pass-link>a:hover,
.navbar-collapse>.navbar-nav>.museum-link>a:hover {
    font-family: "MuseoSansRegular";
    font-size: 14pt;
    color: #000;
    background-color: #FFF !important;
    text-decoration: none !important;
    border-bottom: 8px !important;
    border-bottom-style: solid !important;
}

.navbar-collapse>.navbar-nav>.home-link>a:hover {
    border-bottom-color: #e53025  !important;
}
.navbar-collapse>.navbar-nav>.all-link>a:hover {
    border-bottom-color: #2783c5  !important;
}
.navbar-collapse>.navbar-nav>.pass-link>a:hover {
    border-bottom-color: #33b560  !important;
}
.navbar-collapse>.navbar-nav>.museum-link>a:hover {
    border-bottom-color: #fed24c  !important;
}

.search-block>a, .search-block>a:hover{
    background-color: #FFF !important;
    text-decoration: none !important;
}

.search-icon{
    color: #000 !important;
}

.search-block{
  display: inline-block;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.search-input{
  font-family: "MuseoSansRegular";
  font-size: 12pt;
  outline: none;
  border-color: #FFF;
  border-bottom: 0px solid;
  border-right: 0px solid;
  border-top: 0px solid;
  border-left: 0px solid;
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.6);
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.6);
}

#myCarousel{
	text-align: center;
	position: relative;
	display: block;
  width: 100%;
	height: 300px ;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img  {
  /*height: 200px !important;*/

    margin: 0 auto !important;
}
.item{
  padding-top: 4px;
	position: relative;
	height: 300px;
}

.media-object{
	padding-top: 15px;
	width: 64px;
  overflow: hidden;
}



footer>.row>.col-md-4{
	padding-top: 15px;
}
.container > .row > .col-md-4{
	padding-top: 15px;
  padding-right: 0px !important;
}
.footer_title{
	display: inline-block;
}

.footer_logo{
	width: 60px;
}

.footer-text{
  color: #000;
	    font-family: "MuseoSansRegular";
	    font-size: 12pt;
}

.footer-big-text{
  color: #000;
	    font-family: "MuseoSansRegular";
	    font-size: 14pt;
}

.container-fluid{
  height: 70px !important;
}

.container {
        max-width: 1960px;
				min-width: 100%;
        margin: 0px auto;/*
	margin-left: 0px !important;*/
	/*margin-right: 100px !important;*/
	/*padding-left: 100px !important;*/
	/*padding-right: 100px !important;*/
	position: relative;
	-webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow: 0px 6px 10px 10px rgba(50, 50, 50, 0.6);
	box-shadow: 0px -6px 10px 0px rgba(50, 50, 50, 0.6);

}

.container>h2, .user-feedback>h2, .daily-voting>h2{
  font-family: "MuseoSansBold";
  font-size: 18pt;
}

.media-body>a, .media-body>a:hover{
  text-decoration: none;
  color: #000;
}

.media-heading, .media-heading:hover{
  font-family: "MuseoSansRegular";
  font-size: 18pt;
  font-weight: bold;
}

.main-news>.media>.media-body>p{
  font-family: "MuseoSansRegular";
  font-size: 13pt;
}
.secondary-news>.secondary-news-item>p{
  font-family: "MuseoSansRegular";
  font-size: 11pt;
  margin-bottom: 20px;
}

.secondary-news-item>h4{
  font-family: "MuseoSansRegular";
  font-size: 14pt;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}

.text-with-lines {
  font-family: "MuseoSansRegular";
    position: relative;
    overflow: hidden;
    font-size: 18pt;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: #000;
  }
    .text-with-lines>a, .text-with-lines>a:hover{
    text-decoration: none;
    color: #000;
    }
  .text-with-lines>a>span {
    display: inline-block;
    margin: 0.4em;
  }
  .text-with-lines>a>span:before,
  .text-with-lines>a>span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid #4e4e4e;
    margin-top: .6em;
  }
  .text-with-lines>a>span:before {
    margin-left: -102%;
  }
  .text-with-lines>a>span:after {
    margin-left: 2%;
  }

.read-more{
    margin-bottom: 30px;
}

.user-feedback>form>.row>.email{
  padding-right: 5px !important;
}

.user-feedback>form>.row>.name{
  padding-left: 5px !important;
}

.user-feedback>form>.form-group{
  margin-top: 10px;
}

.social-icon{
  margin: 15px;
}

.social-icons>a, .social-icons>a:hover{
  text-decoration: none;
  color: #000;
}




/*****************************************************/
.navbar-brand{
  padding: 0px !important;
}
.navbar-brand{
    min-height: 70px !important;
}
.navbar{
  min-height: 70px !important;
  margin-bottom: 0px !important;
  border: 0px !important;
}
.navbar-default .navbar-toggle {
  border-color: #563D7C;
}
.navbar-collapse, .navbar-header{
  background-color: #FFF;
}

.navbar-default > .navbar-toggle:hover,
.navbar-default > .navbar-toggle:focus {
      vertical-align: middle;
  background-color: #563D7C;
}







@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBold"; */
@font-face {
    font-family: "MuseoSansBold";
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot");
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"),
    url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansItalic"; */
@font-face {
    font-family: "MuseoSansItalic";
    src: url("../fonts/MuseoSansItalic/MuseoSansItalic.eot");
    src: url("../fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"),
    url("../fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansLight"; */
@font-face {
    font-family: "MuseoSansLight";
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"),
    url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansMedium"; */
@font-face {
    font-family: "MuseoSansMedium";
    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot");
    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
    url("../fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBlack"; */
@font-face {
    font-family: "MuseoSansBlack";
    src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot");
    src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
    url("../fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBoldItalic"; */
@font-face {
    font-family: "MuseoSansBoldItalic";
    src: url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
    src: url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"),
    url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansMediumItalic"; */
@font-face {
    font-family: "MuseoSansMediumItalic";
    src: url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
    src: url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"),
    url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansLightItalic"; */
@font-face {
    font-family: "MuseoSansLightItalic";
    src: url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot");
    src: url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"),
    url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBlackItalic"; */
@font-face {
    font-family: "MuseoSansBlackItalic";
    src: url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot");
    src: url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.woff") format("woff"),
    url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
