.logo{
  height: 69px;
  width: auto;
}

.navbar-brand{
  padding: 0px !important;
}
.navbar-brand{
    min-height: 70px !important;
}
.navbar{
  min-height: 70px !important;
  margin-bottom: 0px !important;
  border: 0px !important;
}
.navbar-default .navbar-toggle {
  border-color: #563D7C;
}
.navbar-collapse, .navbar-header{
  background-color: #FFF;
}

.navbar-default > .navbar-toggle:hover,
.navbar-default > .navbar-toggle:focus {
      vertical-align: middle;
  background-color: #563D7C;
}
header{
        max-width: 1960px;
        margin: 0px auto;

	text-align: center;
	top: 0;
  min-height: 70px !important;
	min-width: 100%;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.6);
  box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.6);
}

.search-block>a, .search-block>a:hover{
    background-color: #FFF !important;
    text-decoration: none !important;
}

.search-icon{
    color: #000 !important;
}
.container-fluid{
  width: auto;
  padding: 0px !important;
}
.search-block{
  display: inline-block;
  padding-top: 22px !important;
  padding-bottom: 8px !important;
}

.search-input, .search-input:focus{
    font-family: "MuseoSansRegular";
    font-size: 12pt;
    outline: none;
    border-bottom: 1px solid;
    border-right: 0px solid;
    border-top: 0px solid;
    border-left: 0px solid;
}

.navbar-collapse>.navbar-nav>.home-link>a {
    font-family: "MuseoSansRegular";
    font-size: 14pt;
    color: #000;
    background-color: #FFF !important;
    text-decoration: none !important;
    padding-top: 25px !important;
    padding-bottom: 17px !important;
    border-bottom: 8px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #e53025 !important;
    /*border-bottom-color: #2783c5 !important;*/
    /*border-bottom-color: #33b560 !important;*/
    /*border-bottom-color: #fed24c !important;*/
}

/*.navbar-collapse>.navbar-nav>.home-link>a,*/
.navbar-collapse>.navbar-nav>.all-link>a,
.navbar-collapse>.navbar-nav>.pass-link>a,
.navbar-collapse>.navbar-nav>.museum-link>a {
    font-family: "MuseoSansRegular";
    font-size: 14pt;
    color: #000;
    background-color: #FFF !important;
    padding-top: 25px !important;
    padding-bottom: 17px !important;
    text-decoration: none !important;
    border-bottom: 8px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #FFF !important;
}
.navbar-nav .navbar-center {
    position: relative !important;
    left: 50% !important;
    transform: translatex(-50%) !important;
  }
.navbar-collapse>.navbar-nav>.home-link>a:hover,
.navbar-collapse>.navbar-nav>.all-link>a:hover,
.navbar-collapse>.navbar-nav>.pass-link>a:hover,
.navbar-collapse>.navbar-nav>.museum-link>a:hover {
    font-family: "MuseoSansRegular";
    font-size: 14pt;
    color: #000;
    background-color: #FFF !important;
    text-decoration: none !important;
    border-bottom: 8px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #fff !important;
}

.navbar-collapse>.navbar-nav>.home-link>a:hover {
    border-bottom-color: #e53025  !important;
}
.navbar-collapse>.navbar-nav>.all-link>a:hover {
    border-bottom-color: #2783c5  !important;
}
.navbar-collapse>.navbar-nav>.pass-link>a:hover {
    border-bottom-color: #33b560  !important;
}
.navbar-collapse>.navbar-nav>.museum-link>a:hover {
    border-bottom-color: #fed24c  !important;
}

#item_box{
  background-color: #000;
  width: 100%;
  height: 100px;
}
















@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBold"; */
@font-face {
    font-family: "MuseoSansBold";
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot");
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"),
    url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansItalic"; */
@font-face {
    font-family: "MuseoSansItalic";
    src: url("../fonts/MuseoSansItalic/MuseoSansItalic.eot");
    src: url("../fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"),
    url("../fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansLight"; */
@font-face {
    font-family: "MuseoSansLight";
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"),
    url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansMedium"; */
@font-face {
    font-family: "MuseoSansMedium";
    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot");
    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
    url("../fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBlack"; */
@font-face {
    font-family: "MuseoSansBlack";
    src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot");
    src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
    url("../fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBoldItalic"; */
@font-face {
    font-family: "MuseoSansBoldItalic";
    src: url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
    src: url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"),
    url("../fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansMediumItalic"; */
@font-face {
    font-family: "MuseoSansMediumItalic";
    src: url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
    src: url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"),
    url("../fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansLightItalic"; */
@font-face {
    font-family: "MuseoSansLightItalic";
    src: url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot");
    src: url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"),
    url("../fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MuseoSansBlackItalic"; */
@font-face {
    font-family: "MuseoSansBlackItalic";
    src: url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot");
    src: url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.woff") format("woff"),
    url("../fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
